@if (phoneData) {
<div id="pathsContainer">
  <span *ngFor="let source of phoneData.paths.sourcePaths; let i = index" class="input-row">
    <label [for]="'sourcePath' + i">From {{ i + 1 }}:</label>
    <input type="text" [id]="'sourcePath' + i" [name]="'sourcePath' + i" [(ngModel)]="phoneData.paths.sourcePaths[i]"
      (input)="onInputChange(i)" required>

    <label id="destination" [for]="'destinationPath' + i">To {{ i + 1 }}:</label>
    <input id="destinationInput" type="text" [id]="'destinationPath' + i" [name]="'destinationPath' + i"
      [(ngModel)]="phoneData.paths.destinationPaths[i]" (input)="onInputChange(i)" required>
  </span>
</div>
} @if (!phoneData) {
<p>No data available to display.</p>
}