@if (phoneData) {
<div id="pathsContainer">
  @for (source of phoneData.paths.sourcePaths; track $index) {
  <span class="input-row">
    <label [for]="'sourcePath' + $index">From {{ $index + 1 }}:</label>
    <input type="text" [id]="'sourcePath' + $index" [name]="'sourcePath' + $index"
      [(ngModel)]="phoneData.paths.sourcePaths[$index]" (input)="onInputChange($index)" required>

    <label id="destination" [for]="'destinationPath' + $index">To {{ $index + 1 }}:</label>
    <input id="destinationInput" type="text" [id]="'destinationPath' + $index" [name]="'destinationPath' + $index"
      [(ngModel)]="phoneData.paths.destinationPaths[$index]" (input)="onInputChange($index)" required>
  </span>
  }
</div>
} @if (!phoneData) {
<p>No data available to display.</p>
}