@if (data) {
<div id="pathsContainer">
  <span class="input-row">
    <!-- Device Letter Input -->
    <label for="deviceLetter">Device Letter:</label>
    <select id="deviceLetter" [(ngModel)]="data.deviceLetter">
      <option value="D">D</option>
      <option value="E">E</option>
      <option value="F">F</option>
      <option value="G">G</option>
      <option value="H">H</option>
    </select>
    <span></span>
    <span></span>
    <span></span>
  </span>

  @for (source of data.paths.sourcePaths; track $index) {
  <span class="input-row">
    <label [for]="'sourcePath' + $index">Source {{ $index + 1 }}:</label>
    <input type="text" [id]="'sourcePath' + $index" [name]="'sourcePath' + $index" [value]="source" required>
    <label id="destination" [for]="'destinationPath' + $index">Destination {{ $index + 1 }}:</label>
    <input type="text" [id]="'destinationPath' + $index" [name]="'destinationPath' + $index"
      [value]="data.paths.destinationPaths[$index]" required>
  </span>
  }
</div>
}
@else {
<p>No data available to display.</p>
}