html {
    background: darkseagreen;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    width: 80%;
    max-width: 1200px; /* Optional: to ensure the content does not stretch too much on large screens */
}

h1 {
    text-align: center;
}

.set-selection {
    margin-bottom: 20px;
    text-align: center; /* Center the dropdown */
}

    .set-selection select {
        font-size: 1.2em;
        padding: 5px;
        width: 150px;
    }

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center; /* Center the inputs */
}

    .input-row label {
        margin-right: 10px;
    }

    .input-row input {
        margin-right: 20px;
        flex-grow: 1;
    }

.button-group {
    margin-top: 20px;
    text-align: center; /* Center the buttons */
}

    .button-group button {
        margin-right: 10px;
        padding: 10px 15px;
        font-size: 1em;
    }

.button-group2 {
    display: flex;
    justify-content: space-around;
}

#result {
    font-weight: bold;
    white-space: pre-line; /* To preserve line breaks */
    display: block;
    overflow-y: auto; /* Enable vertical scrolling */
}

#divResult {
    display: block;
    height: 50vh;
    overflow-y: auto;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    background-color: gainsboro;
}