<div>
    <ul>
        <li 
        [ngClass]="{ 'active': selectedComponent === 'Phone' }" 
        (click)="selectComponent('Phone')">Phone</li>
    
      <li 
        [ngClass]="{ 'active': selectedComponent === 'HDD' }" 
        (click)="selectComponent('HDD')">HDD</li>
    
      <li 
        [ngClass]="{ 'active': selectedComponent === 'SdCard' }" 
        (click)="selectComponent('SdCard')">SD Card</li>
        
      </ul>    
</div>
<div><p>{{selectedComponent}}</p></div>
<div class="currentComponent">
    <!-- Dynamically load components using *ngIf -->
    <app-phone *ngIf="selectedComponent === 'Phone'"></app-phone>
    <app-hdd *ngIf="selectedComponent === 'HDD'"></app-hdd>
    <app-sdcard *ngIf="selectedComponent === 'SdCard'"></app-sdcard>
  </div>