<p>Phone Component Loaded</p>
<div id="pathsContainer" *ngIf="phoneData; else noData">
    <div *ngFor="let source of phoneData.paths.sourcePaths; let i = index" class="input-row">
      <label [for]="'sourcePath' + i">Source {{ i + 1 }}:</label>
      <input type="text" [id]="'sourcePath' + i" [name]="'sourcePath' + i" [value]="source" required>
      <label [for]="'destinationPath' + i">Destination {{ i + 1 }}:</label>
      <input type="text" [id]="'destinationPath' + i" [name]="'destinationPath' + i" [value]="phoneData.paths.destinationPaths[i]" required>
    </div>
</div>

<ng-template #noData>
  <p>No data available to display.</p>
</ng-template>

